header{
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-image: url(img/pattern.png);
    background-size: 300px;
}

.logo{
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px; 
}

h1{
    font-size: 30px;
    margin-bottom: 0;
}

span{
    color: aqua;
}

#autore{
    color:grey;
    margin: 0;
}

#data{
    font-size: 10px;
    color: grey;
    margin: 0;
}

.didascaliafoto{
    font-size: 10px;
    margin: 0;
}

.sottolineato{
    background-color: yellow;
    color: black;
}

th{
    text-align: left;
}

.tdcorta{
    width: 400px;
}

.tdlunga{
    width: 600px;
}





