.container{
    width: 80%;
    margin: 0px auto;
}

header{
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-image: url(img/pattern.png);
    background-size: 300px;
}

.logo{
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px; 
}

h1{
    font-size: 30px;
    margin-bottom: 0;
}

span{
    color: aqua;
}

#autore{
    color:grey;
    margin: 0;
}

#data{
    font-size: 10px;
    color: grey;
    margin: 0;
}

figure{
    margin: 0;
    text-align: center;
}

.didascaliafoto{
    font-size: 10px;
    margin: 0;
}

.sottolineato{
    background-color: yellow;
    color: black;
}

#uno{
    background-color: rgb(32, 169, 229);
}

#due{
    background-color: aqua;
}

#tre{
    background-color: aqua;  
}

th{
    color: white;
    border: 1px;
}

tr{
    text-align: left;
    margin: 0;
}

.tdcorta{
    width: 400px;
}

.tdlunga{
    width: 600px;
}

article{
    margin-top: 20px;
}

#scrittafooter {
    font-size: 20px;
    color: grey;
    font-weight: 800;
}

.immaginefooter1{
    height: 200px;
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.scrittaimmagine1{
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.immaginefooter2{
    height: 200px;
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
